.post-container
{
    border : solid 1px #ffffff;
    border-radius : 20px;
    padding : 1vw 0 1vw 0;
    margin: 0 7vw 0 7vw;
    text-align: center;
}

.button-container
{

    padding : 1vw 0 1vw 0;
    margin: 0 7vw 0 7vw;
    text-align: center;
    
}

.get-post-button{
    font-size: 1.5em;
    padding: 1vw;
    border-radius: 30px;
}

.post-title
{
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin: 1px;
    margin-bottom: 1vw;
}

.post-data
{
    font-size: 1.5em;
    text-align: center;
    margin: 1px;
    margin-bottom: 1vw;
}
